/* ============== */
/* General Style */
/* ============== */
body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  font-family: 'Yeseva One', serif;
  font-size: 5em;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2em;
  margin: 16px 0 0 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #BC441B;
}

a:hover {
  color: #B2BFAB;
}

.section-headline {
  font-family: Arial, Helvetica, sans-serif;
  color: #A66B37;
  font-weight: bold;
  margin: 0;
}

.w-100 {
  width: 100vw
}

.w-70 {
  width: 70vw;
  margin: auto;
}

.w-50 {
  width: 50vw;
  margin: auto;
}

.mt-64 {
  margin-top: 64px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

hr {
  color: #AAAAAA;
}

.btn-primary {
  background-color: #BC441B;
  color: #FFFFFF;
  font-family: Arial Narrow, Helvetica, sans-serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: none;
  height: 44px;
  border-radius: 32px;
  font-size: 24px;
}

.btn-primary:hover {
  background-color: #C66C4D;
}

.btn-seconday {
  background-color: #A66B37;
  color: #FFFFFF;
  font-family: Arial Narrow, Helvetica, sans-serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: none;
  height: 44px;
  border-radius: 32px;
  font-size: 24px;
}

.btn-seconday:hover {
  background-color: #B58962;
}

.btn-seconday-sm {
  background-color: #A66B37;
  color: #FFFFFF;
  font-family: Arial Narrow, Helvetica, sans-serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: none;
  height: 34px;
  border-radius: 16px;
  font-size: 16px;
}

.btn-seconday-sm:hover {
  background-color: #B58962;
}

/* ============== */
/*     header     */
/* ============== */

/* Header navi */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  background-color: #B2BFAB;
  display: flex;
}

.nav-container {
  width: 90vw;
  height: 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 40px;
  display: inline-block;
}

.nav-menu {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.nav-menu li {
  font-family: 'Noto Sans', sans-serif;
  display: inline-block;
  list-style: none;
  margin-left: 2em;
  font-weight: 500;
  font-size: 20px;
}

.nav-menu li a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: #A66B37;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 5vw;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.nav-active {
  transform: translateX(0%) !important;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}

/* ============== */
/*      Main      */
/* ============== */

/* Hero */
.hero {
  margin-top: 10vh;
  width: 100%;
  height: 815px;
  background-image: url('/assets/images/horo-horizontal.jpg');
  background-size: cover;
}

.hero-text-wrapper {
  width: 420px;
  height: 815px;
  background-color: #ffffff50;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 356px;
  font-size: 2em;
  margin-top: 64px;
  margin-bottom: 64px;

}

.welcome-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}

.section-image {
  width: 100%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 64px;
  margin-top: 0;
}

.welcome-wrapper .text-wrapper h3 {
  font-family: 'Yeseva One', serif;
  color: #BC441B;
  font-size: 40px;
  margin: 0;
}

.welcome-wrapper .text-wrapper p {
  font-size: 1.5em;
  color: #4A4A4A;
  margin-top: 16px;
  line-height: 1.5;
}

.classlist-wrapper p {
  color: #A66B37;
  margin: 0;
  margin-top: 16px;
}

#classlist_el {
  margin-top: 32px;
  width: 100%;
}

#classlist_el h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #A66B37;
  margin: 0;
}

#classlist_el .time {
  color: #B58962;
  margin: 0;
}

#classlist_el .description {
  color: #4A4A4A;
  margin: 0;
  margin-top: 8px;
}

.classlist-wrapper button {
  display: block;
  margin: auto;
  margin-top: 32px;
}

.instructor-wrapper {
  background-color: #B4D5D9;
  padding-top: 64px;
  padding-bottom: 64px;
}

.instructor-container {
  display: flex;
  flex-direction: row;
}

.instructor-container h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #4A4A4A;
  margin: 0;
}

.instructor-container .sm-bold {
  font-weight: bolder;
  color: #4A4A4A;
  margin: 0;
  margin-top: 8px;
}

.instructor-container .citat {
  font-family: 'Yeseva One', serif;
  color: #FFFFFF;
  margin: 24px 0;
  font-size: larger;
}

.instructor-container .introduction {
  font-family: Arial, Helvetica, sans-serif;
  color: #4A4A4A;
  line-height: 1.5em;
  margin: 0;
}

.instructor-container button {
  display: block;
  margin: auto;
  margin-top: 32px;
}

.go-to-action-wrapper {
  background-color: #B4D5D9;
}

.overflow-x {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

/* Card */
.card {
  padding: 1em;
  width: 300px !important;
  height: 650px;
  border-radius: 16px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 0 2em;
  display: flex;
  flex-direction: column;
}

.card:nth-child(1) {
  margin-left: 15vw;
}

.card-header {
  width:268px;
  display: flex;
  flex-direction: row;
}

.card-logo {
  width: 80px;
  margin-right: 2em;
}

.card-text {
  color: #BC441B;
}

.contributor {
  font-weight: bold;
}

.card-image {
  margin-top: 0.5em;
  width: 268px !important;
  height: 213px;
  border-radius: 8px;
  object-fit: cover;
}

.card-articles {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  margin-top: 0.5em;
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 14;
  display: -webkit-box;
}

.card-footer {
  margin-top: auto;
}

.card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px !important;
}

.card-center-logo {
  margin-top: 50%;
  width: 80px;
}

.card-center-logo img {
  margin: auto;
}

.card-center-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: large;
  color: #4A4A4A;
}

.card-center-logo-lg {
  width: 268px !important;
}

.card-center-logo-lg img {
  width: 100%;
}

.go-to-action-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Go-to-action */
.go-to-action-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-to-action {
  font-family: 'Yeseva One', serif;
  color: #FFFFFF;
  margin-top: 0;
}

input{
  width: 420px;
  height: 64px;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
}

/* ============== */
/*     Footer     */
/* ============== */

.footer_wrapper {
  background-color: #B2BFAB;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-headline {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #FFFFFF;
  margin: 0;
  text-align: left;
}

.footer-menu-item {
  list-style: none;
  margin-bottom: 0.5em;
}

.footer-menu {
  padding-left: 0;
}

.footer-menu li {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin-left: 0em;
  font-weight: 500;
  font-size: 20px;
}

.footer-menu li a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-contact-container p{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.footer-logo {
  margin-top: 1em;
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin-top: 1em;
}

.sns-btn {
  margin-top: 32px;
  background-color: #BC441B;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: none;
}

.sns-btn:nth-child(even) {
  margin-left: 32px;
  margin-right: 32px;
}

.sns-btn:hover {
  background-color: #C66C4D;
}



/* ============= */
/* media queries */
/* ============= */

/* Phone */
@media screen and (max-width: 768px) { 
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .w-70 {
    width: 100%;
  }

  .w-50 {
    width: 80%;
  }

  .nav-menu {
    margin: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    height: 90vh;
    width: 70vw;
    top: 10vh;
    background-color: #B2BFAB;
    flex-direction: column;
    transform: translateX(100%);
    overflow: hidden;
  }

  .nav-menu li {
    opacity: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .hamburger {
    display: block;
  }

  .hero-text-wrapper {
    width: 100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    margin-left: 0;
    width: 100vw;
    margin-top: 54px;
    background-image: url('/assets/images/hero-vertical.jpg');
    background-size: cover;
    background-position: center;
  }

  .welcome-wrapper {
    flex-direction: column;
  }

}
/* Tablet */
@media screen and (max-width: 1140px) {

}

/* ============= */
/*   animation   */
/* ============= */
@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
